**/.terraform
*.tfstate
*.tfstate.*
**/.settings
**/*.log.gz
**/.idea
**/target
**/.classpath
**/.factorypath
**/*.log
**/.DS_Store
participant-datastore/consent-mgmt/ConsentMgmtServicesWs.iml
participant-manager/coverage/
participant-manager/node_modules/
xcuserdata
