STUDY_DATASTORE_URL = studies.kyoto-demo.clipcrow.com/study-datastore
RESPONSE_DATASTORE_URL = participants.kyoto-demo.clipcrow.com/response-datastore
USER_DATASTORE_URL = participants.kyoto-demo.clipcrow.com/participant-user-datastore
ENROLLMENT_DATASTORE_URL = participants.kyoto-demo.clipcrow.com/participant-enroll-datastore
CONSENT_DATASTORE_URL = participants.kyoto-demo.clipcrow.com/participant-consent-datastore
AUTH_URL = participants.kyoto-demo.clipcrow.com/auth-server
HYDRA_BASE_URL = participants.kyoto-demo.clipcrow.com
HYDRA_CLIENT_ID = QFMrv678quwk7Maf
API_KEY = JXiOjxivVbonf3Xi:hslhsR39wEIyK3MQ
APP_ID = KYOTO_DEMO
