<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleId</key>
	<string></string>
	<key>ProductTitleName</key>
	<string>プロダクトタイトル</string>
	<key>StandaloneStudyId</key>
	<string>SingleStudy01</string>
	<key>IsStandaloneStudyApp</key>
	<false/>
	<key>JoinStudyButtonTitle</key>
	<string>治験に参加</string>
	<key>ViewConsentButtonTitle</key>
	<string>同意</string>
	<key>VisitWebsiteButtonTitle</key>
	<string>サイト確認</string>
	<key>ConsentPDF</key>
	<string>同意書 PDF</string>
	<key>LeaveStudy</key>
	<string>治験を退会</string>
	<key>LeaveStudyConfirmationText</key>
	<string>“進む” をタップすると、眼科医の予約や薬の追跡のためにこのアプリを使用することができなくなります。</string>
	<key>WebsiteLink</key>
	<string></string>
	<key>WebsiteButtonTitle</key>
	<string>アプリのサイト</string>
	<key>TermsAndConditionURL</key>
	<string></string>
	<key>PrivacyPolicyURL</key>
	<string></string>
	<key>ValidatedTitle</key>
	<string>資格確認済み</string>
	<key>AllowFeedback</key>
	<true/>
	<key>NavigationTitleName</key>
	<string>リモート治験</string>
	<key>PoweredByTitleName</key>
	<string>Powered by FDA MyStudies on Google Cloud</string>
</dict>
</plist>
