.subheader {
  padding: 13px 0px !important;
}

.banner__text {
  color: var(--light-gray);
  font-size: 100%;
}

.line_height_normal {
  line-height: normal;
}

// .modal-body {
//   height: 65vh !important;
//   overflow-y: auto !important;
// }
// .modal-dialog {
//   overflow-y: initial !important;
// }
